{% extends '_layouts/base' %}

{% import '_includes/forms.twig' as forms %}

{% set bodyClass = 'content-freeze' %}
{% set title = settings.noticePaneHeading %}

{% block body %}
  <div id="content-freeze-notice" class="pane">
    <div class="readable">
      <h1>
        {{ settings.noticePaneHeading }}
      </h1>
    <p>
        {{ settings.noticePaneText|replace(
            {
                '{dateFrom}': settings.dateFrom ?? 'N/A',
                '{dateTo}': settings.dateTo ?? 'N/A'
            }
        ) }}
      </p>

      {{ tag('a', {
            class: ['btn', 'link-btn'],
            href: cpUrl(''),
            text: 'Continue',
            aria: {label: 'Continue'},
          }) }}

    </div>
  </div>
{% endblock %}

{% css %}
  html {
    height: 100%;
  }
{% endcss %}
